<footer>
	<nav class="nav-footer">
		<ul class="fond-rouge">
			<a href="" class="eagle">
				<li>Mentions Légales</li>
			</a>
			<a href="" class="eagle">
				<li>Contacts</li>
			</a>
			<a href="" class="eagle">
				<li>F.A.Q</li>
			</a>
		</ul>
	</nav>
</footer>
<script src="{{asset('assets/js/structure.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
<script>

{% if hasQuill is defined and hasQuill %}

document.addEventListener('DOMContentLoaded', function () { 
	
const quill = new Quill('#editor', {theme: 'snow'});

const textarea = document.querySelector('#{{form.contenu.vars.id}}');

quill.root.innerHTML = textarea.value;

const form = document.querySelector('form[name="{{form.vars.name}}"]');

form.addEventListener('submit', function () {
textarea.value = quill.root.innerHTML;
});
});

{# // Pour la page correction
let contenu = `
{% for correction in corrections %}
<h3>Chapitre {{ correction.chapitres.id }}</h3>
{{ correction.contenu|raw }}
<!-- CORRECTION -->
{% endfor %}
`;

quill.root.innerHTML = contenu;

const textarea = document.querySelector('#page_correction_contenu');

document.querySelector('form').addEventListener('submit', () => {
    textarea.value = quill.root.innerHTML;
}); #}

{% endif %}

</script>
