<header>

	<div class="titre-logo">
		<div class="logo"><img src="" alt="logo du site"></div>
		<div class="titres">
			<h1 class="lavish texte-rouge">Paralipomènes</h1>
			<h2 class="eagle">Chroniques des travailleurs anonymes</h2>
		</div>
	</div>

	<nav class="nav-header">
		<ul>
			<a href="{{path('app_home')}}" class="eagle">
				<li>Accueil</li>
			</a>
			<a href="{{path('app_bibliotheque')}}" class="eagle">
				<li>Bibliothèque</li>
			</a>
			{% if app.user %}
				<a href="{{path('app_compte',{id: app.user.id})}}" class="eagle">
					<li>Mon compte</li>
				</a>
				<a href="{{path('app_logout')}}" class="eagle">
					<li>Se déconnecter</li>
				</a>
			{% else %}
				<a href="{{path('app_register')}}" class="eagle">
					<li>S'inscrire</li>
				</a>
				<a href="{{path('app_login')}}" class="eagle">
					<li>Se connecter</li>
				</a>
			{% endif %}
		</ul>
	</nav>
</header>
