{% extends 'base.html.twig' %}

{% block title %}
	Paralipomènes - Mon compte
{% endblock %}

{% block body %}
	<div class="form-compte eagle texte-rouge">
		{{ form_start(form) }}
		<div>

			{{form_row(form.email, {label: "Email"}) }}
			<button type="submit" class="fond-rouge texte-beige eagle" name='modif_email'>Modifier</button>
		</div>
		<div>
			{{ form_row(form.Username, 
            {label: "Pseudonyme"}) }}
			<button type="submit" class="fond-rouge texte-beige eagle" name='modif_username'>Modifier</button>
		</div>
		<div>
			{{ form_row(form.password, 
            {label: "Mot de passe"}) }}
			<button type="submit" class="fond-rouge texte-beige eagle" name='modif_password'>Modifier</button>
		</div>
		{{ form_end(form) }}
	</div>
	<div class="lancementHistoire">
	<p>Commencer à raconter votre histoire:</p>
		<a href="{{path('app_redaction_chapitre',{id: app.user.id})}}"><button name="creation">Se lancer</button></a>
	</div>
{% endblock %}
