{% extends 'base.html.twig' %}

{% block title %}
	Paralipomènes - Mon compte
{% endblock %}

{% block body %}
	<div class="form-compte eagle texte-rouge">

		<h4 class ="titreCompte">Informations de compte</h4>

		{{ form_start(form) }}
		<div>

			{{form_row(form.email, {label: "Email"}) }}
			<button type="submit" class="fond-rouge texte-beige eagle" name='modif_email'>Modifier</button>
		</div>
		<div>
			{{ form_row(form.Username, 
            {label: "Pseudonyme"}) }}
			<button type="submit" class="fond-rouge texte-beige eagle" name='modif_username'>Modifier</button>
		</div>
		<div>
			{{ form_row(form.password, 
            {label: "Mot de passe"}) }}
			<button type="submit" class="fond-rouge texte-beige eagle" name='modif_password'>Modifier</button>
		</div>
		{{ form_end(form) }}
	</div>

	<div class="accesAdmin">
	
	{% if user.roles[0] == "ROLE_ADMIN" %}
	
	<button class="eagle texte-beige fond-rouge" name="admin" > 
	<a class="texte-beige" href="{{path('admin')}}">Page d'administration</a>
	</button>

	{% endif %}

	{% if user.roles[0] == "ROLE_CORRECTEUR" %}
	
	<button class="eagle texte-beige fond-rouge" name="correcteur" > 
	<a class="texte-beige" href="{{path('app_choix_correction')}}">Page de corrections</a>
	</button>

	{% endif %}
	
	</div>


	<div class="lancementHistoire eagle texte-rouge">

	{% if user.histoires is null  %}
	
	<p>Commencer à raconter votre histoire:</p>
		
		<button class="eagle texte-beige fond-rouge" name="creation">
		<a href="{{path('app_debut_histoire',{id: app.user.id})}}" class="texte-beige">Se lancer</a>
		</button>
	{% else %}
		<p>Continuer à raconter mon histoire:</p>

		<button class="eagle texte-beige fond-rouge" >
		<a href="{{path('app_redaction_chapitre',{id: app.user.id})}}" class="texte-beige" >Recommencer</a>
		</button>

	</div>
	{% endif %}
{% endblock %}
