{% extends 'base.html.twig' %}

{% block title %}
	Paralipomènes - Correction
{% endblock %}

{% set hasQuill = true %}

{% block body %}

  
 

	<div class="div-correct">

        <h4 class=" texte-rouge lavish">{{histoire.titre}}</h4>

		{{ form_start(form) }}

			{{ form_widget(form.contenu, {
        attr: { class: 'cacher' }}) }}

			<div id="editor"></div>

			<button type="submit" class="btn btn-primary eagle fond-rouge texte-beige">Enregistrer</button>

			{{ form_end(form) }}

		{# <div class="div-suivant">
			<a href="{{ path('app_page_correction', { id: next.id }) }}">
				<button class="eagle fond-rouge texte-beige btn-suivant">Corriger chapitre Suivant</button>
			</a>
		</div>

		<div class="div-precedent">
			<a href="{{ path('app_page_correction', { id: previous.id }) }}">
				<button class="eagle fond-rouge texte-beige btn-precedent">Corriger chapitre Précédent</button>
			</a>
		</div> #}

	</div>


{% endblock %}
